.nav {
     grid-area: n;
     background-color: silver;
     padding-left: 15px;
     padding-top: 10px;
 }

.item a {
    color: magenta;
    text-decoration: none;
}

.item a.active {
    color: goldenrod;


}