.num {
    font-weight: bold;
}

.paginator {
    margin: 20px;
}
.pageNumber {
    paddig: 4px;
    border: 1px solid dimgray;
}
.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}